body {
    background-image: url(5.jpg);
}

.header {
    font-family: 'Bungee Inline', cursive;
}

#languges .container h1,
#languages .container h2,
#other {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}


#myCarousel {
    max-height: 625px;
    overflow: hidden;
    margin-top: 40px;
}

.thumbnails {
    padding-top: 50px;
    /*    padding-left: 20px;*/
    /*    margin: auto;*/
    height: 10%;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.thumbnail {
    background: white;
}


.invisible {
    display: none;
}

#see-more {
    background: #fbff19;
    color: #000;
    margin-left: 46%;
    font-family: 'Jua', sans-serif;
}

#see-more:hover {
    background: #f2b500;
    color: #fff;
}

#hide-btn {
    background: #fbff19;
    color: #000;
    margin-left: 47%;
    font-family: 'Jua', sans-serif;
}

#hide-btn:hover {
    background: #f2b500;
    color: #fff;
}

.dropdown-menu > li > a:hover {
    background: #666;
    color: #000;
}

#other {
    margin: 100px 10px 30px 10px;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    min-height: 600px;
}

#other > h1 {
    margin-bottom: 50px;
}

.nav-tabs li a {
    color: #000;
    font-weight: bold;
    background: #fbff19;
}

.tab-content {
    min-height: 150px;
    margin-top: 50px;

}

.img-center{
    text-align: center;
}
.img-center img{
    max-height: 200px;
}

.footer {
    background: #000;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
}

.btn-group{
    position: fixed;
    top: 90%;

}
#social{
    opacity: 0.5;    
}

.btn-group:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.fa-vk:hover {
    color: #4286f4;
}

.fa-facebook-square:hover {
    color: #1a0aff;
}

.fa-instagram:hover {
    color: #ff30ea;
}

