* {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    background-image: url(5.jpg);
}

#description {
    margin-top: 60px;
    padding-left: 20px;
    color: #fbff19;
    font-family: 'Bungee Inline', cursive;
    text-shadow: 1px 1px 2px black, 0 0 1em #fff;

}

#way > .bg,
#languages > .bg,
#other > .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #666;
    opacity: 0.3;
    border-radius: 30px;
    z-index: -1;
}

#way,
#languages,
#other {
    position: relative;
    margin: 100px 10px 30px 10px;

}

#way h1 {
    text-shadow: 1px 1px 2px black, 0 0 2em #1a0aff;
}
#languages h1,
#languages h2{
    text-shadow: 1px 1px 2px black, 0 0 2em #4286f4;
}

.header {
    font-family: 'Bungee Inline', cursive;
}

.container > h1,
.container > h2,
#other {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
}


#myCarousel {
    max-height: 625px;
    overflow: hidden;
    margin-top: 40px;
}

.btn-link {
    color: #4286f4;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
}

.btn-link:hover {
    text-decoration: none;
    color: #f2b500;
}

.btn-link:focus,
:visited {
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
}

.card-body {
    color: #f2b500;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.thumbnails {
    padding-top: 50px;
    height: 10%;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.thumbnail {
    background: white;
}


.invisible {
    display: none;
}

#see-more {
    background: #fbff19;
    color: #000;
    margin-left: 46%;
    font-family: 'Jua', sans-serif;
}

#see-more:hover {
    background: #f2b500;
    color: #fff;
}

#hide-btn {
    background: #fbff19;
    color: #000;
    margin-left: 47%;
    font-family: 'Jua', sans-serif;
}

#hide-btn:hover {
    background: #f2b500;
    color: #fff;
}

.dropdown-menu > li > a:hover {
    background: #666;
    color: #000;
}

#other {
    font-size: 25px;
    line-height: 35px;
    min-height: 600px;
}

#other .container h1,
#other .container h2 {
    margin-bottom: 50px;
    text-shadow: 2px 2px 3px black, 0 0 1em #1a0aff;
}

.nav-tabs li a {
    color: #fff;
    font-weight: bold;
    background: #000;
}

.nav-tabs li a:hover {
    color: #000;
}

.tab-content {
    min-height: 150px;
    margin-top: 50px;

}

.img-center {
    text-align: center;
}

.img-center img {
    max-height: 200px;
}

.footer {
    background: #000;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
}

.btn-group {
    position: fixed;
    top: 90%;

}

#social {
    opacity: 0.5;
}

.btn-group:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}


.btn-group:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.fa-vk:hover {
    color: #4286f4;
}

.fa-facebook-square:hover {
    color: #1a0aff;
}

.fa-instagram:hover {
    color: #ff30ea;
}
